---
import MainLayout from "../layouts/MainLayout.astro";
import IdCard from "../components/IdCard.astro";
---
<MainLayout title="Titel">
	<main>

		<section class="section">
			<div class="container-site grid-desktop-text">
				<div>
			<h1 class="t-h2">
				Hvem er vi?
			</h1>
			<p class="t-p">
				Vi er et fællesskab af mennesker, der nægter at lade nogen gå alene, når verden føles utryg.
Vores frivillige står klar med mod, nærvær og en stemme, der skaber ro. Vi tror på, at tryghed vokser, når vi løfter hinanden. Og vi er her for at følge dig hele vejen hjem.
			</p>
			</div>
			<div class="flex justify-center">
				<img src="/gruppe2.svg" alt="billede af en gruppe piger" />
			</div>
		</div>
		</section>

		<section class="section">

			<div>
				<h2 class="t-h2 text-center mb-10">
					Vores Frivillige
				</h2>
			</div>

			<div class="container-site">
			
					<div class="grid-desktop-cards">

				
					<IdCard
			image="/face5.webp"
			title="Kommunikationschef"
			name="Maria"
			age="36"
		/>

		<IdCard
			image="/face6.webp"
			title="Strategichef"
			name="Tonya"
			age="40"
		/>

		<IdCard
			image="/face7.webp"
			title="Leder af rekruttering"
			name="Janelle"
			age="35"
		/>

		<IdCard
			image="/face8.webp"
			title="Indsamlingsteam"
			name="Charlie"
			age="38"
		/>

		<IdCard
			image="/face9.webp"
			title="Serviceleveringsteam"
			name="Tina"
			age="25"
		/>

		<IdCard
			image="/face11.webp"
			title="Serviceleveringsteam"
			name="Tom"
			age="27"
		/>

		<IdCard
			image="/face10.webp"
			title="Sikkerhed og trivsel"
			name="Kathrine"
			age="26"
		/>

		<IdCard
			image="/face12.webp"
			title="Rekrutteringsteam"
			name="Briana"
			age="22"
		/>
				</div>
				</div>
			
		
		</section>

	</main>

</MainLayout>