---
import MainLayout from "../layouts/MainLayout.astro";
import IdCard from "../components/IdCard.astro";
---
<MainLayout title="Titel">
	<main>
		<section class="section">
			<div class="container-site">
			
				<div class="grid-desktop-cards">
					<IdCard
			image="/face5.webp"
			title="Kommunikationschef"
			name="Maria"
			age="36"
		/>

		<IdCard
			image="/face5.webp"
			title="Kommunikationschef"
			name="Maria"
			age="36"
		/>

		<IdCard
			image="/face5.webp"
			title="Kommunikationschef"
			name="Maria"
			age="36"
		/>

		<IdCard
			image="/face5.webp"
			title="Kommunikationschef"
			name="Maria"
			age="36"
		/>

		<IdCard
			image="/face5.webp"
			title="Kommunikationschef"
			name="Maria"
			age="36"
		/>

		<IdCard
			image="/face5.webp"
			title="Kommunikationschef"
			name="Maria"
			age="36"
		/>

		<IdCard
			image="/face5.webp"
			title="Kommunikationschef"
			name="Maria"
			age="36"
		/>

		<IdCard
			image="/face5.webp"
			title="Kommunikationschef"
			name="Maria"
			age="36"
		/>
				</div>
				</div>
			
		
		</section>

</MainLayout>