---
import DonationCard from "../components/DonationCard.astro";
import MainLayout from "../layouts/MainLayout.astro";
---
<MainLayout title="Støt">
  <main class="relative">

<section class="section relative z-10">
  <div class="container-site grid grid-cols-1 lg:grid-cols-2 gap-6">

    <!-- Venstre side: intro-tekst -->
    <div>
      <h1 class="title t-h1">Vil du støtte os?</h1>
      <p class="t-p">
        Når du donerer, er du med til at gøre en forskel her og nu.
        Din støtte går direkte til hotlinen og vores arbejde for tryghed, nærvær og fællesskab.
      </p>
    </div>
  </div>
</section>


        <!-- bølgelinje -->
  <img
    src="/line.svg"
    alt="linje"
    class="md:block absolute top-18 md:-top-25 w-full pointer-events-none"
  />

    <!-- Donation-sektion -->
    <section id="not-alone-to-arrive" class="section relative overflow-hidden z-10">
      <div class="container-site">
        <div class="grid-site">
          <div class="col-span-12 lg:col-span-12 relative z-10">
            <div class="grid grid-cols-1 lg:grid-cols-2 gap-6">
              <DonationCard
                id="one-time"
                title="Engangsdonation"
                subtitle="Støt vores arbejde med et valgfrit beløb."
                accent="pink"
                amounts={[25,50,100]}
                flow={['amount','info','method','payment','terms','thankyou']}
              
              />

              <DonationCard
                id="monthly"
                title="Månedlig støtte"
                subtitle="Gør en varig forskel — støtte hver måned."
                accent="beigepink"
                amounts={[25,50,100]}
                flow={['amount','info','method','payment','terms','thankyou']}
              />
            </div>
          </div>
        </div>
      </div>
    </section>


<section class="section relative z-10 mb-15">
  <div class="container-site relative">
    <div class="max-w-4xl text-left">
      <h2 class="title t-h2">Helt præcist går din donation til…</h2>
      <p class="t-p">
        Drift af telefonlinjen (telefoni, software, sikkerhed)<br>
        Uddannelse af frivillige<br>
        Support og supervision<br>
        Kommunikation og outreach, så flere kender hjælpen<br>
        Rekruttering af frivillige
      </p>
    </div>

    <!-- Dekorative stjerner i højre side -->
    <div class="absolute bottom-2 right-40 flex flex-col space-y-4 pointer-events-none">
      <img src="/star1.svg" alt="stjerne" class="w-46 hidden md:block md:w-72 animate-wiggle animate-infinite animate-duration-[4500ms]"/>
    </div>
  </div>
</section>

  </main>
</MainLayout>
